* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo {
    margin-right: 40px
    
}
.header {
    margin-top: ;
    list-style: none;
    display: flex;
}
.header li{
    list-style: none;
    display: inline;
    margin-right: 30px;
    margin-top: 5px;
    
}
.header a{
    text-decoration: none;
    color: #737373;
    font-weight: bold;
    font-family: calibri;
}
.header-menu {
    margin-top: 2px;
    margin-left: 800px;
    display: flex;
}
.menu li{
    list-style: none;
    display: inline;
    margin-right:25px ;
}
.menu a{
    text-decoration: none;
    color: #737373 ;
    font-weight: bold;
    font-family: calibri;
}
.register {
    font-size: 15px;
    border: #737373 solid;
    padding: 2px 12px 4px 12px;
    border-radius: 10px;
    border-width: 2px;
}
.hero-section {
    display: flex;
}
.hero-section .hero-text {
    width: 60%;
    border: 1px solid red;
    padding-left: 130px;
    padding-top: 150px;
}
.hero-section .h1 {
    font-size: 90px;
    font-family: calibri;
    font-weight:bolder;
    line-height: 90%;
    margin-top: -40px;
}
.hero-section .p {
    font-family: calibri;
    font-weight: bold;
    font-size: 20px;
    color: #737373;
    margin-top: 40px;
}
.hero-section .hero-image {
    width: 40%;
    border: 1px solid green;
}

.learn-more {
    text-decoration: none;
    display: flex;
    justify-content: center;
    background-color: black;
    /*font-weight: bold;*/
    font-family: calibri;
    color: white;
    border-radius: 10px;
    padding: 6px 5px 6px 5px;
    width: 13%;
    margin-top: 40px;
    
}
.insert li{
    list-style: none;
    display: inline;
    margin-right: 30px;
}
.svg {
    margin-top: 90px;
}
@media screen and (max-width: 1024px) {
   
}
@media screen and (max-width: 767px) {
    .hero-section .hero-text{
        flex-direction: column-reverse;
        align-self: flex-start;
        padding-left: 20px;
    }

    .header {
        flex-wrap: wrap;
        margin-right: -1000px;
    }
    .header-menu {
        marg
    }
    .hero-section .h1 {
        display: inline-flex;
        font-size: 40px;
        margin-top: -50px;
    }
}
/*breakpoints
mobile - 0 - 767px
tablet - 768px - 1023px
ipad - 1024px - 1279px;
desktops: 1280px (1280px, 1366px, 1440px, 1680px, 1920px, 2560px)

*/

