* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo {
    margin-right: 40px
    
}
.header {
    margin-top: ;
    list-style: none;
    display: flex;
    border: purple solid;
}
.header li{
    list-style: none;
    display: inline;
    margin-right: 30px;
    margin-top: 5px;
    
}
.header a{
    text-decoration: none;
    color: #737373;
    font-weight: bold;
    font-family: calibri;
}
.header-menu {
    margin-top: 2px;
    margin-left: 800px;
    display: flex;
}
.menu li{
    list-style: none;
    display: inline;
    margin-right:25px ;
}
.menu a{
    text-decoration: none;
    color: #737373 ;
    font-weight: bold;
    font-family: calibri;
}
.register {
    font-size: 15px;
    border: #737373 solid;
    padding: 2px 12px 4px 12px;
    border-radius: 10px;
    border-width: 2px;
}
.hero-section {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    margin: 50px 0;
    justify-content: space-between;
}
.hero-section .hero-text {
    width: 50%;
    /*padding-left: 130px;
    padding-top: 150px;*/
}
.hero-section .h1 {
    font-size: 6vw;
    font-family: calibri;
    font-weight:bolder;
    line-height: 90%;
    width: 84%;
}
.hero-section .p {
    font-family: calibri;
    font-weight: bold;
    font-size: 20px;
    color: #737373;
    margin-top: 40px;
}
.hero-section .hero-image {
    width: calc(50% - 100px);
}

.learn-more {
    height: 60px;
    margin-top: 40px;
}
.learn-more button {
    background-color: black;
    font-family: calibri;
    color: white;
    border-radius: 15px;
    height: 50px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.insert li{
    list-style: none;
    display: inline;
    margin-right: 30px;
}
.svg {
    margin-top: 90px;
}

@media screen and (max-width: 1024px) {
   
}
@media screen and (max-width: 767px) {
    .header {
        display: none;
    }
    .hero-section {
        flex-direction: column-reverse;
        padding: 0;
        align-content: center;
        
    }
    .hero-section .hero-image {
        width: 100%;
    }
    .hero-section .hero-image img {
        width: 100%;
        height: 100%;
    }
    .hero-section .hero-text {
        width: 100%;
        
    }
    .hero-section .hero-text{
        
        text-align: center;
    }
    .learn-more button {
      display: flex;
      position:sticky;
      margin: auto;
    }
    button {
        
    }
    .hero-text .h1 {
        width: 100%;
        font-size: 40px;
        align-items: center;
        font-family: calibri;
    }
    .hero-text .p {
        width: 100%;
        font-size: 12px;
        font-family: calibri;
        align-items: center;
    }
    .svg {
        list-style: none;
        display:inline;
    }
    .svg .insert {
        align-items: center;
        display: flex;
        width: 100%;
        margin-top: 70px;
        position: sticky;
    }
}
/*breakpoints
mobile - 0 - 767px
tablet - 768px - 1023px
ipad - 1024px - 1279px;
desktops: 1280px (1280px, 1366px, 1440px, 1680px, 1920px, 2560px)

*/

